html {
  box-sizing: border-box;
  font-size: calc(0.6em + 1vw);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Merienda", "Roboto", "Trebuchet MS", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  color: #2e343e;
  background-color: #f1f2ed;
}

.travel-cards {
  margin: 0;
  font-size: calc(0.6em + 1vw);
  line-height: 1.4;
  color: #2e343e;
  background-color: #f1f2ed;
}
.travel-cards__header h2 {
  margin: 1em auto 1em;
  text-align: center;
  background-color: #f1f2ed;
}
.travel-cards__container {
  width: 100%;
  perspective: 100vw;
  padding: 3rem 0;
}
.travel-cards__item {
  margin: 2rem auto;
  width: 17rem;
  height: 20rem;
  position: relative;
  -webkit-animation: travel-cards-anime 3.3s ease-out;
          animation: travel-cards-anime 3.3s ease-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.travel-cards__item:nth-child(1) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.travel-cards__item:nth-child(2) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.travel-cards__item:nth-child(3) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.travel-cards__item:nth-child(4) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.travel-cards__item:nth-child(5) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.travel-cards__item:nth-child(6) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.travel-cards__item:nth-child(7) {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

.travel-cards__item:nth-child(8) {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}

.travel-cards__item:nth-child(9) {
  -webkit-animation-delay: 2.7s;
          animation-delay: 2.7s;
}

.travel-cards__item:nth-child(10) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.travel-cards__item:nth-child(11) {
  -webkit-animation-delay: 3.3s;
          animation-delay: 3.3s;
}

.travel-cards__arena-flip {
  width: 100%;
  height: 100%;
  perspective: 1000px;
  position: relative;
}

.travel-cards__scene-flip {
  position: relative;
  z-index: 2;
  height: 100%;
  transition: transform 0.5s;
  transform: scale(1, 1);
  transform-style: preserve-3d;
  cursor: pointer;
}

.travel-cards__tiem--is-flipped {
  transform: rotateY(180deg) scale(1.1, 1.1);
}
.travel-cards__tiem--is-flipped .travel-cards__actor-flip {
  -webkit-animation: shadow-shift-for-actor-back 0.5s linear;
          animation: shadow-shift-for-actor-back 0.5s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.travel-cards__tiem--is-inactive {
  transform: rotateY(180deg) scale(1);
}

.travel-cards__item-flip__item:nth-child(1) .travel-cards__actor-flip {
  z-index: 31;
}

.travel-cards__item-flip__item:nth-child(2) .travel-cards__actor-flip {
  z-index: 32;
}

.travel-cards__item-flip__item:nth-child(3) .travel-cards__actor-flip {
  z-index: 33;
}

.travel-cards__item-flip__item:nth-child(4) .travel-cards__actor-flip {
  z-index: 34;
}

.travel-cards__item-flip__item:nth-child(5) .travel-cards__actor-flip {
  z-index: 35;
}

.travel-cards__item-flip__item:nth-child(6) .travel-cards__actor-flip {
  z-index: 36;
}

.travel-cards__item-flip__item:nth-child(7) .travel-cards__actor-flip {
  z-index: 37;
}

.travel-cards__item-flip__item:nth-child(8) .travel-cards__actor-flip {
  z-index: 38;
}

.travel-cards__item-flip__item:nth-child(9) .travel-cards__actor-flip {
  z-index: 39;
}

.travel-cards__item-flip__item:nth-child(10) .travel-cards__actor-flip {
  z-index: 40;
}

.travel-cards__item-flip__item:nth-child(11) .travel-cards__actor-flip {
  z-index: 41;
}

.travel-cards__actor-flip {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 5px;
  border: 1px solid #918483;
  -webkit-animation: shadow-shift-for-actor-front 0.5s linear;
          animation: shadow-shift-for-actor-front 0.5s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.travel-cards__actor-flip > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.travel-cards__actor-flip--front {
  background-image: linear-gradient(to bottom right, #b8ccc3 60%, #dcc9b7);
  padding: 1em;
}
.travel-cards__actor-flip--back {
  transform: rotateY(180deg);
  background-color: #dcc9b7;
}

.travel-cards__actor-back--inner > * {
  flex: 1;
}
.travel-cards__actor-back--inner h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to right, #2e343e, #b8ccc3);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.travel-cards__actor-back--inner img {
  flex-grow: 0;
  max-width: 100%;
  display: block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.travel-cards__actor-front--inner {
  justify-content: center;
  align-items: center;
  position: relative;
}
.travel-cards__actor-front--inner::after {
  display: block;
  content: "";
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
          clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  background-color: #b8ccc3;
}

@media only screen and (min-width: 62em) {
  html {
    font-size: 1rem;
  }

  .travel-cards__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .travel-cards__item {
    flex: 0 0 17rem;
  }

  .travel-cards p {
    font-size: 1.5rem;
  }
  .travel-cards h2 {
    font-size: 2.5rem;
  }
  .travel-cards h3 {
    font-size: 2rem;
  }
}
@-webkit-keyframes shadow-shift-for-actor-back {
  50% {
    box-shadow: 0em 0em 0.5em 0.1em rgba(184, 204, 195, 0.4);
  }
  100% {
    box-shadow: 0em 0em 1em 0.3em #dcc9b7;
  }
}
@keyframes shadow-shift-for-actor-back {
  50% {
    box-shadow: 0em 0em 0.5em 0.1em rgba(184, 204, 195, 0.4);
  }
  100% {
    box-shadow: 0em 0em 1em 0.3em #dcc9b7;
  }
}
@-webkit-keyframes shadow-shift-for-actor-front {
  50% {
    box-shadow: 0em 0em 0.5em 0.1em rgba(220, 201, 183, 0.4);
  }
  100% {
    box-shadow: 0em 0em 1em 0.3em #b8ccc3;
  }
}
@keyframes shadow-shift-for-actor-front {
  50% {
    box-shadow: 0em 0em 0.5em 0.1em rgba(220, 201, 183, 0.4);
  }
  100% {
    box-shadow: 0em 0em 1em 0.3em #b8ccc3;
  }
}
@-webkit-keyframes travel-cards-anime {
  0% {
    opacity: 0;
    transform: translateZ(-50000px) translateX(150vw) skewx(-30deg) scaley(0.5) scaleX(0.5) rotatez(30deg);
  }
  70% {
    opacity: 1;
    transform: translateZ(-50px) skewx(-10deg) rotatex(5deg);
  }
  90% {
    transform: translateZ(20px) skewx(0deg) scaley(1.2) scaleX(1.2) rotatex(0deg);
  }
  100% {
    transform: translateZ(0px) skewx(0deg) scaley(1) scaleX(1) rotatex(0deg);
  }
}
@keyframes travel-cards-anime {
  0% {
    opacity: 0;
    transform: translateZ(-50000px) translateX(150vw) skewx(-30deg) scaley(0.5) scaleX(0.5) rotatez(30deg);
  }
  70% {
    opacity: 1;
    transform: translateZ(-50px) skewx(-10deg) rotatex(5deg);
  }
  90% {
    transform: translateZ(20px) skewx(0deg) scaley(1.2) scaleX(1.2) rotatex(0deg);
  }
  100% {
    transform: translateZ(0px) skewx(0deg) scaley(1) scaleX(1) rotatex(0deg);
  }
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3MvX2Jhc2Uuc2NzcyIsInN0eWxlLmNvbXAuY3NzIiwiLi4vc2Fzcy9fdmFyaWFibGVzLnNjc3MiLCIuLi9zYXNzL190cmF2ZWwtY2FyZHMuc2NzcyIsIi4uL3Nhc3MvX21peGlucy5zY3NzIiwiLi4vc2Fzcy9fYnJlYWtwb2ludHMuc2NzcyIsIi4uL3Nhc3MvX2FuaW1hdGlvbnMuc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFDQTtFQUNJLHNCQUFBO0VBQ0EsNEJBQUE7QUNBSjs7QURFQTtFQUNJLFNBQUE7RUFDQSxVQUFBO0VBQ0EsbUJBQUE7QUNDSjs7QURDQTtFQUNJLFNBQUE7RUFDQSxVQUFBO0VBQ0EsK0VFTlU7RUZPVixnQkFBQTtFQUNBLGNFZFM7RUZlVCx5QkVkZTtBRGdCbkI7O0FFbEJBO0VBQ0MsU0FBQTtFQUNBLDRCQUFBO0VBQ0EsZ0JBQUE7RUFDRyxjREhTO0VDSVQseUJESGU7QUR3Qm5CO0FFcEJDO0VBQ0Msb0JBQUE7RUFDQSxrQkFBQTtFQUNBLHlCRFBpQjtBRDZCbkI7QUVwQkM7RUFDQyxXQUFBO0VBQ0Esa0JBQUE7RUFDQSxlQUFBO0FGc0JGO0FFcEJDO0VBQ0MsaUJBQUE7RUFDQSxZRFJXO0VDU1gsYURSVztFQ1NYLGtCQUFBO0VBQ0EsbURBQUE7VUFBQSwyQ0FBQTtFQUNBLHNDQUFBO1VBQUEsOEJBQUE7QUZzQkY7O0FFaEJDO0VBQ0MsNkJEWmtDO1VDWWxDLHFCRFprQztBRCtCcEM7O0FFcEJDO0VBQ0MsNkJBRW1DO1VBRm5DLHFCQUVtQztBRnFCckM7O0FFeEJDO0VBQ0MsNkJBRW1DO1VBRm5DLHFCQUVtQztBRnlCckM7O0FFNUJDO0VBQ0MsNkJBRW1DO1VBRm5DLHFCQUVtQztBRjZCckM7O0FFaENDO0VBQ0MsNkJBRW1DO1VBRm5DLHFCQUVtQztBRmlDckM7O0FFcENDO0VBQ0MsNkJBRW1DO1VBRm5DLHFCQUVtQztBRnFDckM7O0FFeENDO0VBQ0MsNkJBRW1DO1VBRm5DLHFCQUVtQztBRnlDckM7O0FFNUNDO0VBQ0MsNkJBRW1DO1VBRm5DLHFCQUVtQztBRjZDckM7O0FFaERDO0VBQ0MsNkJBRW1DO1VBRm5DLHFCQUVtQztBRmlEckM7O0FFcERDO0VBQ0MsMkJBRW1DO1VBRm5DLG1CQUVtQztBRnFEckM7O0FFeERDO0VBQ0MsNkJBRW1DO1VBRm5DLHFCQUVtQztBRnlEckM7O0FFckRBO0VBQ0MsV0FBQTtFQUNBLFlBQUE7RUFDQSxtQkFBQTtFQUNBLGtCQUFBO0FGd0REOztBRXREQTtFQUNDLGtCQUFBO0VBQ0EsVUFBQTtFQUNBLFlBQUE7RUFDQSwwQkFBQTtFQUNBLHNCQUFBO0VBQ0EsNEJBQUE7RUFDQSxlQUFBO0FGeUREOztBRXJEQTtFQUNDLDBDQUFBO0FGd0REO0FFdkRDO0VBQ0MsMERBQUE7VUFBQSxrREFBQTtFQUNHLHFDQUFBO1VBQUEsNkJBQUE7QUZ5REw7O0FFdERBO0VBQ0MsbUNBQUE7QUZ5REQ7O0FFcERDO0VBQ0MsV0FBQTtBRnVERjs7QUV4REM7RUFDQyxXQUFBO0FGMkRGOztBRTVEQztFQUNDLFdBQUE7QUYrREY7O0FFaEVDO0VBQ0MsV0FBQTtBRm1FRjs7QUVwRUM7RUFDQyxXQUFBO0FGdUVGOztBRXhFQztFQUNDLFdBQUE7QUYyRUY7O0FFNUVDO0VBQ0MsV0FBQTtBRitFRjs7QUVoRkM7RUFDQyxXQUFBO0FGbUZGOztBRXBGQztFQUNDLFdBQUE7QUZ1RkY7O0FFeEZDO0VBQ0MsV0FBQTtBRjJGRjs7QUU1RkM7RUFDQyxXQUFBO0FGK0ZGOztBRTVGQTtFQUNDLFdBQUE7RUFDQSxZQUFBO0VBQ0Esa0JBQUE7RUFDQSxtQ0FBQTtVQUFBLDJCQUFBO0VBQ0Esa0JEdERlO0VDdURmLHlCQUFBO0VBQ0EsMkRBQUE7VUFBQSxtREFBQTtFQUNBLHFDQUFBO1VBQUEsNkJBQUE7QUYrRkQ7QUU5RkM7RUFDQyxhQUFBO0VBQ0Esc0JBQUE7RUFDQSxZQUFBO0FGZ0dGO0FFOUZDO0VBQ0Msd0VBQUE7RUFDQSxZQUFBO0FGZ0dGO0FFOUZDO0VBQ0MsMEJBQUE7RUFDQSx5QkR0RmM7QURzTGhCOztBRXhGQztFQUNDLE9BQUE7QUYyRkY7QUV6RkM7RUFDQyxhQUFBO0VBQ0EsdUJBQUE7RUFDQSxtQkFBQTtFQUNBLGtCQUFBO0VBQ0EsNkRBQUE7RUFDQSxxQkFBQTtFQUNBLDZCQUFBO0VBQ0Esa0JBQUE7QUYyRkY7QUV6RkM7RUFDQyxZQUFBO0VBQ0EsZUFBQTtFQUNBLGNBQUE7RUNoSEUsMkJGbUJZO0VFbEJaLDRCRmtCWTtFQytGZCxvQkFBQTtLQUFBLGlCQUFBO0FGNEZGOztBRXhGQTtFQUNDLHVCQUFBO0VBQ0EsbUJBQUE7RUFDQSxrQkFBQTtBRjJGRDtBRTFGQztFQUNDLGNBQUE7RUFDQSxXQUFBO0VBQ0Esa0hBQUE7VUFBQSwwR0FBQTtFQUNBLGtCQUFBO0VBQ0EsU0FBQTtFQUNBLFFBQUE7RUFDQSxXQUFBO0VBQ0EsWUFBQTtFQUNBLHlCRGhJZ0I7QUQ0TmxCOztBR3ROSTtFQ1RIO0lBQ0MsZUFBQTtFSm1PQTs7RUlqT0Q7SUFDQyxhQUFBO0lBQ0EsZUFBQTtJQUNBLHVCQUFBO0VKb09BOztFSWxPRDtJQUNDLGVBQUE7RUpxT0E7O0VJbE9BO0lBQ0MsaUJBQUE7RUpxT0Q7RUluT0E7SUFDQyxpQkFBQTtFSnFPRDtFSW5PQTtJQUNDLGVBQUE7RUpxT0Q7QUFDRjtBSzFQQTtFQUNJO0lBQ0ksd0RBQUE7RUw0UE47RUsxUEU7SUFDSSxxQ0FBQTtFTDRQTjtBQUNGO0FLbFFBO0VBQ0k7SUFDSSx3REFBQTtFTDRQTjtFSzFQRTtJQUNJLHFDQUFBO0VMNFBOO0FBQ0Y7QUsxUEE7RUFDSTtJQUNJLHdEQUFBO0VMNFBOO0VLMVBFO0lBQ0kscUNBQUE7RUw0UE47QUFDRjtBS2xRQTtFQUNJO0lBQ0ksd0RBQUE7RUw0UE47RUsxUEU7SUFDSSxxQ0FBQTtFTDRQTjtBQUNGO0FLelBBO0VBQ0k7SUFDSSxVQUFBO0lBQ0Esc0dBQUE7RUwyUE47RUt6UEU7SUFDSSxVQUFBO0lBQ0Esd0RBQUE7RUwyUE47RUt6UEU7SUFDRSw2RUFBQTtFTDJQSjtFS3pQRTtJQUNJLHdFQUFBO0VMMlBOO0FBQ0Y7QUt6UUE7RUFDSTtJQUNJLFVBQUE7SUFDQSxzR0FBQTtFTDJQTjtFS3pQRTtJQUNJLFVBQUE7SUFDQSx3REFBQTtFTDJQTjtFS3pQRTtJQUNFLDZFQUFBO0VMMlBKO0VLelBFO0lBQ0ksd0VBQUE7RUwyUE47QUFDRiIsImZpbGUiOiJzdHlsZS5wcmVmaXguY3NzIn0= */