html {
  box-sizing: border-box;
  font-size: calc(0.6em + 1vw);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Merienda", "Roboto", "Trebuchet MS", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  color: #2e343e;
  background-color: #f1f2ed;
}

.travel-cards {
  margin: 0;
  font-size: calc(0.6em + 1vw);
  line-height: 1.4;
  color: #2e343e;
  background-color: #f1f2ed;
}
.travel-cards__header h2 {
  margin: 1em auto 1em;
  text-align: center;
  background-color: #f1f2ed;
}
.travel-cards__container {
  width: 100%;
  perspective: 100vw;
  padding: 3rem 0;
}
.travel-cards__item {
  margin: 2rem auto;
  width: 17rem;
  height: 20rem;
  position: relative;
  animation: travel-cards-anime 3.3s ease-out;
  animation-fill-mode: backwards;
}

.travel-cards__item:nth-child(1) {
  animation-delay: 0.3s;
}

.travel-cards__item:nth-child(2) {
  animation-delay: 0.6s;
}

.travel-cards__item:nth-child(3) {
  animation-delay: 0.9s;
}

.travel-cards__item:nth-child(4) {
  animation-delay: 1.2s;
}

.travel-cards__item:nth-child(5) {
  animation-delay: 1.5s;
}

.travel-cards__item:nth-child(6) {
  animation-delay: 1.8s;
}

.travel-cards__item:nth-child(7) {
  animation-delay: 2.1s;
}

.travel-cards__item:nth-child(8) {
  animation-delay: 2.4s;
}

.travel-cards__item:nth-child(9) {
  animation-delay: 2.7s;
}

.travel-cards__item:nth-child(10) {
  animation-delay: 3s;
}

.travel-cards__item:nth-child(11) {
  animation-delay: 3.3s;
}

.travel-cards__arena-flip {
  width: 100%;
  height: 100%;
  perspective: 1000px;
  position: relative;
}

.travel-cards__scene-flip {
  position: relative;
  z-index: 2;
  height: 100%;
  transition: transform 0.5s;
  transform: scale(1, 1);
  transform-style: preserve-3d;
  cursor: pointer;
}

.travel-cards__tiem--is-flipped {
  transform: rotateY(180deg) scale(1.1, 1.1);
}
.travel-cards__tiem--is-flipped .travel-cards__actor-flip {
  animation: shadow-shift-for-actor-back 0.5s linear;
  animation-fill-mode: forwards;
}

.travel-cards__tiem--is-inactive {
  transform: rotateY(180deg) scale(1);
}

.travel-cards__item-flip__item:nth-child(1) .travel-cards__actor-flip {
  z-index: 31;
}

.travel-cards__item-flip__item:nth-child(2) .travel-cards__actor-flip {
  z-index: 32;
}

.travel-cards__item-flip__item:nth-child(3) .travel-cards__actor-flip {
  z-index: 33;
}

.travel-cards__item-flip__item:nth-child(4) .travel-cards__actor-flip {
  z-index: 34;
}

.travel-cards__item-flip__item:nth-child(5) .travel-cards__actor-flip {
  z-index: 35;
}

.travel-cards__item-flip__item:nth-child(6) .travel-cards__actor-flip {
  z-index: 36;
}

.travel-cards__item-flip__item:nth-child(7) .travel-cards__actor-flip {
  z-index: 37;
}

.travel-cards__item-flip__item:nth-child(8) .travel-cards__actor-flip {
  z-index: 38;
}

.travel-cards__item-flip__item:nth-child(9) .travel-cards__actor-flip {
  z-index: 39;
}

.travel-cards__item-flip__item:nth-child(10) .travel-cards__actor-flip {
  z-index: 40;
}

.travel-cards__item-flip__item:nth-child(11) .travel-cards__actor-flip {
  z-index: 41;
}

.travel-cards__actor-flip {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 5px;
  border: 1px solid #918483;
  animation: shadow-shift-for-actor-front 0.5s linear;
  animation-fill-mode: forwards;
}
.travel-cards__actor-flip > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.travel-cards__actor-flip--front {
  background-image: linear-gradient(to bottom right, #b8ccc3 60%, #dcc9b7);
  padding: 1em;
}
.travel-cards__actor-flip--back {
  transform: rotateY(180deg);
  background-color: #dcc9b7;
}

.travel-cards__actor-back--inner > * {
  flex: 1;
}
.travel-cards__actor-back--inner h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to right, #2e343e, #b8ccc3);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.travel-cards__actor-back--inner img {
  flex-grow: 0;
  max-width: 100%;
  display: block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  object-fit: cover;
}

.travel-cards__actor-front--inner {
  justify-content: center;
  align-items: center;
  position: relative;
}
.travel-cards__actor-front--inner::after {
  display: block;
  content: "";
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  background-color: #b8ccc3;
}

@media only screen and (min-width: 62em) {
  html {
    font-size: 1rem;
  }

  .travel-cards__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .travel-cards__item {
    flex: 0 0 17rem;
  }

  .travel-cards p {
    font-size: 1.5rem;
  }
  .travel-cards h2 {
    font-size: 2.5rem;
  }
  .travel-cards h3 {
    font-size: 2rem;
  }
}
@keyframes shadow-shift-for-actor-back {
  50% {
    box-shadow: 0em 0em 10px 4px rgba(220, 201, 183, 0.4);
  }
  100% {
    box-shadow: 0em 0em 5px 2px #b8ccc3;
  }
}
@keyframes shadow-shift-for-actor-front {
  50% {
    box-shadow: 0em 0em 10px 4px rgba(184, 204, 195, 0.4);
  }
  100% {
    box-shadow: 0em 0em 5px 2px #dcc9b7;
  }
}
@keyframes travel-cards-anime {
  0% {
    opacity: 0;
    transform: translateZ(-50000px) translateX(150vw) skewx(-30deg) scaley(0.5) scaleX(0.5) rotatez(30deg);
  }
  70% {
    opacity: 1;
    transform: translateZ(-50px) skewx(-10deg) rotatex(5deg);
  }
  90% {
    transform: translateZ(20px) skewx(0deg) scaley(1.2) scaleX(1.2) rotatex(0deg);
  }
  100% {
    transform: translateZ(0px) skewx(0deg) scaley(1) scaleX(1) rotatex(0deg);
  }
}

/*# sourceMappingURL=style.comp.css.map */
