@keyframes shadow-shift-for-actor-back {
    50% {
        box-shadow: 0em 0em 10px 4px color.change($color-primary, $alpha: 0.4);
    }
    100% {
        box-shadow: 0em 0em 5px 2px $color-secondary;
    }
}
@keyframes shadow-shift-for-actor-front {
    50% {
        box-shadow: 0em 0em 10px 4px color.change($color-secondary, $alpha: 0.4);
    }
    100% {
        box-shadow: 0em 0em 5px 2px $color-primary;
    }
}

@keyframes travel-cards-anime {
    0% {
        opacity:0;
        transform:translateZ(-50000px) translateX(150vw) skewx(-30deg) scaley(0.5) scaleX(0.5) rotatez(30deg);
    }
    70% {
        opacity: 1;
        transform:translateZ(-50px) skewx(-10deg)  rotatex(5deg); 
    }
    90% {
      transform:translateZ(20px) skewx(0deg) scaley(1.2) scaleX(1.2) rotatex(0deg); 
    }
    100% {
        transform: translateZ(0px) skewx(0deg) scaley(1) scaleX(1) rotatex(0deg);  
    }
}