//colors
$color-font: hsl(214, 15%, 21%); //#556273
$color-background: hsl(72, 16%, 94%); //#f1f2ed
$color-primary: hsl(29, 34%, 79%); //#dbc8b6
$color-secondary: hsl(153, 16%, 76%); //#b7cbc2
$color-secondary-2: hsla(5, 6%, 54%, 1); // #908483

$font-family: 'Merienda', 'Roboto', "Trebuchet MS",Helvetica,Arial,sans-serif;
$font-size-default: 16px;

$width-item: 17rem;
$height-item:20rem;

$shadow-shift-anime-duration: 0.5s;
$shadow-shift-anime-function: linear;

$number-of-items: 11;
$travel-cards-anime-one-card-delay: 0.5s;
$travel-cards-anime-duration: $travel-cards-anime-one-card-delay * $number-of-items;

$border-radius: 5px;

//sass map to store breakpoints
// if 1rem = 16px => { 576px = 36em; 768px = 48em; 992px = 62em; 1200px = 75em; }
$media-queries-up: (
	small: (
		"breakpoint": '(min-width: 36em)',
	),
	medium: (
		"breakpoint": '(min-width: 48em)',
	),
	large: (
		"breakpoint": '(min-width: 62em)',
	),
);