@use 'sass:color';
//colors
$color-main-font: hsla(214, 15%, 21%, 1); //#556273 l lower
$color-background: hsla(72, 16%, 94%, 1); //#f1f2ed
$color-dark-primary: hsla(5, 6%, 54%, 1); // #908483
$color-light-primary:hsla(29, 34%, 79%, 1); //#dbc8b6
$color-secondary: hsla(153, 16%, 76%, 1); //#b7cbc2
$color-dark-secondary: hsla(156, 5%, 19%, 1);
$pirouette-item-shadow: color.change($color-secondary, $alpha: 0.5);

$font-family-style-1: 'Josefin Sans',"Trebuchet MS",Helvetica,Arial,sans-serif;
$font-size-basic: 1em;
$font-size-default: 16px;

$width-item: (320px/$font-size-default) + rem;
$height-item: (400px/$font-size-default) + rem;

$border-radius-box: 5px;

$number-of-items: 5;
$pirouette-anime-one-card-delay: 0.5s;
$pirouette-anime-duration: $pirouette-anime-one-card-delay * $number-of-items;


//media query
$media-query-small: 20em; //320px
$media-query-medium: 35em; //560px
$media-query-large: 50em;   //800px


html {
    box-sizing: border-box;
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    
   
}
body {
    margin:0;
    padding:0;
    font-family: $font-family-style-1;
    font-size: 1.5em;
    line-height: 1.4;
    color: $color-main-font;
    background-color: $color-background;
}

.pirouette {
    margin: 0 1rem;
    &__header h2 {
        font-size: 2.5rem;
        margin: 1em auto 1em;
        text-align: center;
        background-color: $color-background;
    }
    &-container {
        perspective: 1000px;
    }
    &__item {
        margin: 1rem auto;
        width: $width-item;
        height: $height-item;
        position: relative;
        animation: pirouette-anime $pirouette-anime-duration ease-out;
        animation-fill-mode: backwards;
        
    }
}
$pirouette-anime-one-card-delay-sep: $pirouette-anime-one-card-delay; //+ ($pirouette-anime-one-card-delay + 2);
@for $i from 1 to 6 {
    .pirouette__item:nth-child(#{$i}) {
        animation-delay: $pirouette-anime-one-card-delay;
    }
    $pirouette-anime-one-card-delay: $pirouette-anime-one-card-delay + $pirouette-anime-one-card-delay-sep;
}


//fliping the card
.pirouette__item__flip__arena {
    width: 100%;
    height: 100%;
    perspective: 1000px; //make before items semitransparent
    position: relative;
}

.pirouette__item__flip__scene {
    position: relative;
    z-index: 2;
    height: 100%;
    transition: transform 0.5s;
    transform: scale(1, 1);
    transform-style: preserve-3d;
    .pirouette__item:hover & {
        transform: rotateY(180deg) scale(1.1, 1.1);
        & .pirouette__item__flip__actor {
            animation: shadow-shift 1s linear;
            animation-fill-mode: forwards;  
        }
    }  

    
}//scene
@for $s from 1 to $number-of-items + 1 {
    .pirouette__item__flip__item:nth-child(#{$s}) .pirouette__item__flip__actor {
        z-index: 30 + $s;
    }
}

.pirouette__item__flip__actor {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: $border-radius-box;
    border: 1px solid $color-dark-primary;
    box-shadow: 0em 0em 1em 0.3em $color-secondary;
    &>div {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    &--front {
        background-color: $color-light-primary;
        &>div>* {
            flex: 1;   
        }
        & h3 {
            //color: $color-dark-secondary;
            font-size: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: linear-gradient(to right, $color-main-font, $color-secondary );
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
        & img {
            max-width: 100%;
            display: block;
            border-top-left-radius: $border-radius-box;
            border-top-right-radius: $border-radius-box;
        }
    }//front
    &--back {
        transform: rotateY(180deg);
        //background-color: $color-secondary;
        background-image: linear-gradient(to bottom right, $color-secondary 60%, $color-light-primary);
        padding: 1em;
        &>div {
            justify-content: center;
            align-items: center; 
            position: relative;
            &::after{
                display: block;
                content: '';
                clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
                position: absolute;
                bottom: 0rem;
                right: 0rem;
                width: 3em;
                height: 3em;
                background-color: $color-secondary;
            }
        }
    }//back
}

@media (min-width: $media-query-large) {
    .pirouette-container {
        display: flex;
        flex-wrap: wrap;

    }
    .pirouette__item {
        flex:0 0 $width-item;
    }
}


@keyframes shadow-shift {
    50% {
        
        box-shadow: 0em 0em 1em 0.3em color.change($color-secondary, $alpha: 0.4);
    }
    100% {
        box-shadow: 0em 0em 1em 0.3em $color-light-primary;
    }
}

@keyframes pirouette-anime {
    0% {
        opacity:0;
        transform:translateZ(-1000px) translateX(150vw) skewx(-30deg) scaley(0.5) scaleX(0.5) rotatez(30deg);
    }
    25% {
        opacity: 1;
        transform:translateZ(-50px) skewx(-10deg)  rotatex(5deg);
    }
    
    80% {
      transform:translateZ(20px) skewx(0deg) scaley(1.2) scaleX(1.2) rotatex(0deg); 
    }
    100% {
        
        transform: translateZ(0px) skewx(0deg) scaley(1) scaleX(1) rotatex(0deg);
       
    }
}