html {
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  line-height: 1.4;
  color: #2e343e;
  background-color: #f1f2ed;
}

.pirouette {
  margin: 0 1rem;
}
.pirouette__header h2 {
  font-size: 2.5rem;
  margin: 1em auto 1em;
  text-align: center;
  background-color: #f1f2ed;
}
.pirouette-container {
  perspective: 1000px;
}
.pirouette__item {
  margin: 1rem auto;
  width: 20rem;
  height: 25rem;
  position: relative;
  animation: pirouette-anime 2.5s ease-out;
  animation-fill-mode: backwards;
}

.pirouette__item:nth-child(1) {
  animation-delay: 0.5s;
}

.pirouette__item:nth-child(2) {
  animation-delay: 1s;
}

.pirouette__item:nth-child(3) {
  animation-delay: 1.5s;
}

.pirouette__item:nth-child(4) {
  animation-delay: 2s;
}

.pirouette__item:nth-child(5) {
  animation-delay: 2.5s;
}

.pirouette__item__flip__arena {
  width: 100%;
  height: 100%;
  perspective: 1000px;
  position: relative;
}

.pirouette__item__flip__scene {
  position: relative;
  z-index: 2;
  height: 100%;
  transition: transform 0.5s;
  transform: scale(1, 1);
  transform-style: preserve-3d;
}
.pirouette__item:hover .pirouette__item__flip__scene {
  transform: rotateY(180deg) scale(1.1, 1.1);
}
.pirouette__item:hover .pirouette__item__flip__scene .pirouette__item__flip__actor {
  animation: shadow-shift 1s linear;
  animation-fill-mode: forwards;
}

.pirouette__item__flip__item:nth-child(1) .pirouette__item__flip__actor {
  z-index: 31;
}

.pirouette__item__flip__item:nth-child(2) .pirouette__item__flip__actor {
  z-index: 32;
}

.pirouette__item__flip__item:nth-child(3) .pirouette__item__flip__actor {
  z-index: 33;
}

.pirouette__item__flip__item:nth-child(4) .pirouette__item__flip__actor {
  z-index: 34;
}

.pirouette__item__flip__item:nth-child(5) .pirouette__item__flip__actor {
  z-index: 35;
}

.pirouette__item__flip__actor {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  border: 1px solid #918483;
  box-shadow: 0em 0em 1em 0.3em #b8ccc3;
}
.pirouette__item__flip__actor > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.pirouette__item__flip__actor--front {
  background-color: #dcc9b7;
}
.pirouette__item__flip__actor--front > div > * {
  flex: 1;
}
.pirouette__item__flip__actor--front h3 {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #2e343e, #b8ccc3);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.pirouette__item__flip__actor--front img {
  max-width: 100%;
  display: block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.pirouette__item__flip__actor--back {
  transform: rotateY(180deg);
  background-image: linear-gradient(to bottom right, #b8ccc3 60%, #dcc9b7);
  padding: 1em;
}
.pirouette__item__flip__actor--back > div {
  justify-content: center;
  align-items: center;
  position: relative;
}
.pirouette__item__flip__actor--back > div::after {
  display: block;
  content: "";
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  position: absolute;
  bottom: 0rem;
  right: 0rem;
  width: 3em;
  height: 3em;
  background-color: #b8ccc3;
}

@media (min-width: 50em) {
  .pirouette-container {
    display: flex;
    flex-wrap: wrap;
  }

  .pirouette__item {
    flex: 0 0 20rem;
  }
}
@keyframes shadow-shift {
  50% {
    box-shadow: 0em 0em 0.5em 0.1em rgba(184, 204, 195, 0.4);
  }
  100% {
    box-shadow: 0em 0em 1em 0.3em #dcc9b7;
  }
}
@keyframes pirouette-anime {
  0% {
    opacity: 0;
    transform: translateZ(-1000px) translateX(150vw) skewx(-30deg) scaley(0.5) scaleX(0.5) rotatez(30deg);
  }
  25% {
    opacity: 1;
    transform: translateZ(-50px) skewx(-10deg) rotatex(5deg);
  }
  80% {
    transform: translateZ(20px) skewx(0deg) scaley(1.2) scaleX(1.2) rotatex(0deg);
  }
  100% {
    transform: translateZ(0px) skewx(0deg) scaley(1) scaleX(1) rotatex(0deg);
  }
}

/*# sourceMappingURL=style.css.map */
