@use 'sass:color';
//colors
$color-font: hsl(214, 15%, 21%); //#556273
$color-background: hsl(72, 16%, 94%); //#f1f2ed
$color-primary: hsl(29, 34%, 79%); //#dbc8b6
$color-secondary: hsl(153, 16%, 76%); //#b7cbc2
$color-secondary-2: hsla(5, 6%, 54%, 1); // #908483

$font-family-style: 'Josefin Sans',"Trebuchet MS",Helvetica,Arial,sans-serif;
$font-size-default: 16px;

$width-item: 17rem;  //(150px/$font-size-default) + rem;
$height-item:20rem; //(75px/$font-size-default) + rem;

$shadow-shift-anime-duration: 0.5s;
$shadow-shift-anime-function: linear;

$number-of-items: 5;
$travel-cards-anime-one-card-delay: 0.5s;
$travel-cards-anime-duration: $travel-cards-anime-one-card-delay * $number-of-items;

$border-radius: 5px;
@mixin border-radius-top ($border-radius) {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
}


//media query
$media-query-small: 20em;
$media-query-medium: 35em;
$media-query-large: 50em;

html {
    box-sizing: border-box;
    font-size: calc(0.6em + 1vw);
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body {
    margin:0;
    padding:0;
    font-family: $font-family-style;
    //font-size: 1rem;
    
    line-height: 1.4;
    color: $color-font;
    background-color: $color-background;
}

.travel-cards {
    margin: 0 1rem;
    &__header h2 {
        //font-size: 2.5rem;
        margin: 1em auto 1em;
        text-align: center;
        background-color: $color-background;
    }
    &__container {
        perspective: 1000px;
    }
    &__item {
        margin: 1rem auto;
        width: $width-item;
        height: $height-item;
        position: relative;
        animation: travel-cards-anime $travel-cards-anime-duration ease-out;
        animation-fill-mode: backwards;
        
    }
}
$travel-cards-anime-one-card-delay-sep: $travel-cards-anime-one-card-delay;
@for $i from 1 to 6 {
    .travel-cards__item:nth-child(#{$i}) {
        animation-delay: $travel-cards-anime-one-card-delay;
    }
    $travel-cards-anime-one-card-delay: $travel-cards-anime-one-card-delay + $travel-cards-anime-one-card-delay-sep;
}

//fliping the card
.travel-cards__item-flip__arena {
    width: 100%;
    height: 100%;
    perspective: 1000px;
    position: relative;
}
.travel-cards__item-flip__scene {
    position: relative;
    z-index: 2;
    height: 100%;
    transition: transform 0.5s;
    transform: scale(1, 1);
    transform-style: preserve-3d;
    .travel-cards__item:hover & {
        transform: rotateY(180deg) scale(1.1, 1.1);
        & .travel-cards__item-flip__actor {
            animation: shadow-shift-for-actor-back $shadow-shift-anime-duration $shadow-shift-anime-function;
            animation-fill-mode: forwards;  
        }
    }   
}//scene

@for $s from 1 to $number-of-items + 1 {
    .travel-cards__item-flip__item:nth-child(#{$s}) .travel-cards__item-flip__actor {
        z-index: 30 + $s;
    }
}
.travel-cards__item-flip__actor {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: $border-radius;
    border: 1px solid $color-secondary-2;
    animation: shadow-shift-for-actor-front $shadow-shift-anime-duration $shadow-shift-anime-function;
    animation-fill-mode: forwards;
    &>div {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    &--front {
        background-color: $color-primary;
        &>div>* {
            flex: 1;   
        }
        & h3 {
            //color: $color-dark-secondary;
           // font-size: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: linear-gradient(to right, $color-font, $color-secondary );
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
        & img {
            max-width: 100%;
            display: block;
            @include border-radius-top($border-radius);
            object-fit: cover;
        }
    }//actor-front
    &--back {
        transform: rotateY(180deg);
        background-image: linear-gradient(to bottom right, $color-secondary 60%, $color-primary);
        padding: 1em;
        &>div {
           // font-size: 1.5rem;
            justify-content: center;
            align-items: center; 
            position: relative;
            &::after{
                display: block;
                content: '';
                clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
                position: absolute;
                bottom: 0;
                right: 0;
                width: 3rem;
                height: 3rem;
                background-color: $color-secondary;
            }
        }
    }//actor-back
}

@media (min-width: $media-query-large) {
    html {
        font-size: 1rem;
    }
    .travel-cards__container {
        display: flex;
        flex-wrap: wrap;
    }
    .travel-cards__item {
        flex:0 0 $width-item;
    }
    .travel-cards {
        & p {
            font-size: 1.5rem;
        }
        & h2 {
            font-size: 2.5rem;
        }
        & h3 {
            font-size: 2rem;
        }
    }
}


@keyframes shadow-shift-for-actor-back {
    50% {
        box-shadow: 0em 0em 0.5em 0.1em color.change($color-secondary, $alpha: 0.4);
    }
    100% {
        box-shadow: 0em 0em 1em 0.3em $color-primary;
    }
}
@keyframes shadow-shift-for-actor-front {
    50% {
        box-shadow: 0em 0em 0.5em 0.1em color.change($color-primary, $alpha: 0.4);
    }
    100% {
        box-shadow: 0em 0em 1em 0.3em $color-secondary;
    }
}

@keyframes travel-cards-anime {
    0% {
        opacity:0;
        transform:translateZ(-1000px) translateX(150vw) skewx(-30deg) scaley(0.5) scaleX(0.5) rotatez(30deg);
    }
    25% {
        opacity: 1;
        transform:translateZ(-50px) skewx(-10deg)  rotatex(5deg);
    }
    80% {
      transform:translateZ(20px) skewx(0deg) scaley(1.2) scaleX(1.2) rotatex(0deg); 
    }
    100% {
        transform: translateZ(0px) skewx(0deg) scaley(1) scaleX(1) rotatex(0deg);  
    }
}